@font-face {
  font-family: 'NUNITO';
  src: url(../../assets/fonts/NUNITO-REGULAR.TTF);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'NUNITO';
}

body {
  background-image: url('../assets/img/menubg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.main-menu {
  max-width: 1200px;
  margin: 0 auto;
  color: #fff;
}

.cards {
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 10px;
  align-items: center;
  justify-content: flex-end;
}


.card_image {
  max-height: 250px;
  position: relative;
}

.card_image img {
  height: 250px;
  object-fit: cover;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 100%;
    /* Update to 100% */
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 100%;
    /* Update to 100% */
  }

  .cards_item.second {
    width: 100%;
    /* Update to 100% */
  }
}

.card {
  width: 100%;
  height: 250px;
  background-image: linear-gradient(rgba(0, 0, 0, .45), rgba(0, 0, 0, .45));
  margin-bottom: 25px;
  margin-right: 12px;
  margin-top: 1.5rem;
  position: relative;

  .card_content {
    padding: 0.1rem 0;
  }
}

/*
.card {
  background-color: #eb30a1;
  border-radius: 0.25rem;
  box-shadow: 0 0.1rem 3rem #00000019;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 20px 1rem 10px;
  border-radius: 16px;
  height: fit-content;
}
*/

/*
.price {
  position: absolute;
  bottom: 10px;
  right: -3px;
  border-top-left-radius: 500rem;
  border-bottom-left-radius: 500rem;
  padding-right: 20px;
  padding-left: 30px;
  padding-top: 2px;
  padding-bottom: 2px;
  font-weight: 700;
  font-size: 20px;
  color: #fff;
  background: #eb30a1;
}
*/

.segmenttitle {
  color: #fff;
  margin-top: 61px;
  font-size: 50px;
  font-weight: 400;
  display: flex;
}

h2 a {
  text-decoration: none;
  color: inherit;
}

.segmenttitle h3 {
  margin-left: 50vw;
}

.allergens {
  flex-direction: column;
  margin-bottom: 25px;
  display: flex;
  font-variant: small-caps;
  margin-top: -4rem;
}

.card_title {
  margin-top: 0;
  margin-bottom: 15px;
  text-align: center;
  font-weight: 700;
  line-height: 1rem;
}

.card_text {
  margin-top: 16px;
  font-size: 15px;
  color: #fff;
  padding-left: 10px;
  padding-right: 10px;
  font-style: normal;
  line-height: 15px;
}

.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--body-color);
}

/* Phone */

@media only screen and (max-width: 767px) {
  .segmenttitle {
    margin-left: 1rem;
    margin-top: -2rem;

  }

  .allergens {
    margin-left: 1rem;
    margin-right: 1rem;
  }

  .card_image img {
    width: 90vw;
  }

  .card {
    position: absolute;
    max-width: 90vw;
    margin-right: 0rem;
    margin-bottom: 1.5rem;
    max-height: 37.5vh;
  }

  .price_tag {
    display: none;
  }

  .card_text .card_title {
    font-size: 1.2rem;
  }

  .card_text .card_subtitle {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .card_text p {
    font-size: 1rem;
    margin-bottom: 0;
    margin-top: 0.5rem;
  }
}